/*.special-header {
    font-size: 40px; Adjust the size as needed 
    color: #85A124;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    align-items: center;
}

.special-header .combined-letter::after {
    content: 'H';
    font-size: inherit;
    color: inherit;
    opacity: 2;
}*/

.special-header {
    font-size: 40px; /* Adjust the size as needed */
    color: #85A124;
    display: inline-block; /* Make sure it's an inline-block element */
    position: relative; /* Create a positioning context */
}

.special-header::before {
    content: 'H'; /* Content is the letter H */
    position: absolute; /* Position it absolutely within the .special-header */
    top: 0;
    left: 0;
    opacity: 0.5; /* Adjust as needed */
    
}

